.taskForm {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  margin-top: -1.75rem;
}

.taskForm input {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;

  width: 638px;
  height: 54px;
  padding: 1rem;

  color: var(--gray-300);

  font-size: 1rem;
}

.taskForm button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;

  width: 90px;
  height: 52px;

  background-color: var(--blue-dark);
  color: var(--white-color);

  border: none;
  border-radius: 0.5rem;

  font-size: 0.875rem;
  font-weight: bold;

  cursor: pointer;
}

.taskList .headerTaskList {
  display: flex;
  align-item: center;
  justify-content: space-around;

  margin-top: 4rem;

  padding: 0 5rem;
}

.taskList .headerTaskList .createdTask,
.taskList .headerTaskList .doneTask {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.taskList .headerTaskList .createdTask p {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--blue-100);
}

.taskList .headerTaskList .createdTask span,
.taskList .headerTaskList .doneTask span {
  background-color: var(--gray-400);
  padding: 2px 8px;
  border-radius: 999px;

  font-size: 0.75rem;
  color: var(--white-color);
  font-weight: bold;
}

.taskList .headerTaskList .doneTask p {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--purple-100);
}

.taskList .contentTaskList ul {
  margin-top: 1.5rem;
}

.taskList .contentTaskList ul li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  width: 736px;
  height: 72px;
  padding: 1rem;
  margin: 0 auto;

  background-color: var(--gray-400);
  border-radius: 0.5rem;

  margin-bottom: 0.75rem;
}

.taskList .contentTaskList ul li p {
  color: var(--white-color);
  width: 632px;
}

.taskList .contentTaskList ul li .CheckButton {
  background: transparent;
  color: var(--blue-100);
  line-height: 0;

  border: 0;

  cursor: pointer;
}

.taskList .contentTaskList ul li .trashIcon {
  background: transparent;
  color: var(--gray-300);
  line-height: 0;

  border: 0;
  border-radius: 2px;

  cursor: pointer;
}

.taskList .contentTaskList ul li .trashIcon:hover {
  color: var(--red-500);
}

.taskList .contentTaskList ul li .strikethroughText,
.taskList .contentTaskList ul li .strikethroughText p {
  color: var(--gray-300);
}
