.taskForm {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  margin-top: -1.75rem;
}

.taskForm input {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;

  width: 638px;
  height: 54px;
  padding: 1rem;

  font-size: 1rem;
}

.taskForm button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;

  width: 90px;
  height: 52px;

  background-color: var(--blue-dark);
  color: var(--white-color);

  border: none;
  border-radius: 0.5rem;

  font-size: 0.875rem;
  font-weight: bold;
}
